.encabezado {
    color: $colorBordes;
    font-size: 50px;
    font-family: "Raleway";
    margin: 20px;
}

.container {
    background-color: #000;
    gap: 10px;
    margin: 20px 0;
    padding: 10px;
    border: 2px solid $colorPrincipal;
    border-radius: 20px;
    text-align: center;
    font-family: "Raleway";
}
