/* DISCOGRAFÍA */

.encabezado {
    color: $colorBordes;
    font-size: 50px;
    font-family: "Raleway";
    margin: 20px;
}

.container2 {
    background-color: #000;
    gap: 10px;
    margin: 20px 0;
    padding: 10px;
    border: 2px solid $colorPrincipal;
    border-radius: 20px;
    text-align: center;
    font-family: "Raleway";
    color: #fff;
}

/* DISEÑO DESKTOP PARA LA DISCOGRAFÍA */

@media (min-width: 1024px) {
    .encabezado {
        text-align: center;
    }
    .container2 {
        flex-direction: column;
        margin: 40px;
        width: 400px;
    }
    .albums {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        margin: auto;
        justify-content: space-between;
    }
}