/* ESTILOS DEL NAV */

body {
    background: #222831;
}

.navbar {
    background-color: $colorPrincipal;
    img {
        width: 70px;
        margin-top: 10px;
    }
}

.container-fluid {
    list-style: none;
    font-size: 18px;
    font-family: "Montserrat";
    justify-content: space-evenly;
    a {
        text-decoration: none;
        color: $colorBordes;
    }
}