/* ESTILO DEL INDEX */

.fotoLP {
    width: 460px;
    margin-top: 30px;
    border: 1px solid $colorBordes;
}

.titulo {
    color: $colorBordes;
    font-family: "Vampire Wars";
    text-align: center;
    font-size: 70px;
}

.container {
    color: #fff;
    font-size: 20px;
}

/* DISEÑO DESKTOP: INDEX */

@media (min-width: 1024px) {
    .fotoLP {
        display: none;

    }
    .titulo {
        font-size: 120px;
        background-image: url(../images/linkin-park.png);
        background-repeat: no-repeat;
        background-size: cover;
        height: 300px;
        margin: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .container b {
        font-size: 40px;
        border: 2px solid $colorPrincipal;
        border-radius: 25px;
        padding: 10px;
    }
}